@section Breadcrumbs{
    <ol class="breadcrumb navbar-breadcrumb">
        <li>Luxoft PowerBI Embedded</li>
    </ol>
}

<div class="side-body padding-top">
    @Html.PowerBIAccessToken()
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            
        </div>
    </div>
    <div class="row  no-margin-bottom">
        <div class="col-sm-6 col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card primary">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <iframe src="//giphy.com/embed/WimskYdPoE6s0" width="853" height="480" frameBorder="0" id="giphyIframe" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/WimskYdPoE6s0">via GIPHY</a></p>

                </div>
                <div class="col-md-6 col-sm-12">
                    
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="card primary">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card primary">
                    </div>
                </div>
            
            
        </div>
    </div>
</div>
